<!--
<div data-ui-load="@lib/controllers/view_pager"
      data-ui-options="options.viewPager"
      class="feed-pager"
      draggable="false">

    TOP STORIES
    <section class="content" data-ui-load="@lib/controllers/header_auto_hide" data-ui-options="options.autoHidingBars">

        <div data-ui-load="pages/home/items_list"
             data-o-rss="http://rss.cnn.com/rss/edition.rss"></div>

    </section>
</div>
<div data-ui-load="@lib/components/context_menu"
     data-ui-context="news-options-menu">
    <div data-ui-field="menu">
        <button layout="row center-left">
            <i class="material-icons">bookmark_border</i>
            <span>Save for later</span>
        </button>
        <button layout="row center-left">
            <i class="material-icons">share</i>
            <span>Share</span>
        </button>
        <button layout="row center-left">
            <i class="material-icons">open_in_new</i>
            <span>Open link</span>
        </button>
        <button layout="row center-left">
            <i class="material-icons">not_interested</i>
            <span>Hide items from this source</span>
        </button>
        <button layout="row center-left">
            <i class="material-icons">thumb_up</i>
            <span>More like this</span>
        </button>
        <button layout="row center-left">
            <i class="material-icons">thumb_down</i>
            <span>Less like this</span>
        </button>
    </div>
</div>
-->

<ul class="list-group">
    <li class="list-group-item">First item</li>
    <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li>
  </ul>