<!--<div data-ui-field="list" self="size-xxlarge center" layout="rows stretch-center" class="list"></div>-->
<ul class="list-group">
    <li class="list-group-item">First item</li>
    <li class="list-group-item">Second item</li>
    <li class="list-group-item">Third item</li>
  </ul>