/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    /*background-color: #333;*/
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%; 
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    width: 49%;
    height: 10%;
    font-size: 600%;
}

.fa-clickable {
    cursor:pointer;
    outline:none;
    color: black;
}

#events {
    display: block;
    height:85%;
    overflow:hidden;
    overflow-y:scroll;
    font-size: 40px;
}

#map {
    display: none;
    height: 85%;
    width: 100%;
}

html, body, .content {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ion-icon{
    color: black;
    background-color: black;
}